
.contenedor-movil12 {
  width: 100%;
  overflow: hidden; 
}

/* 1. EFECTO LED (Brillo Verde) */
.texto-led12 {
  font-family: 'Arial', sans-serif;
  color: #BDB76B;  /*color de letra*/
  font-size: 35px;
  text-transform: uppercase;
  text-shadow: 
    0 0 5px #FFF8DC,
    0 0 10px #E9967A,
    0 0 20px #48D1CC,
    0 0 40px #008B8B;
}

/* 2. EFECTO MOVIMIENTO */
.texto-movil12 {
  white-space: nowrap; 
  animation: marquesina 12s linear infinite;
}

@keyframes marquesina {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}